*{
    margin: 0;
    padding: 0;
}
ul{
    text-align: center;
    font-size: bold;
    height: 50px;
   
}
li{
    margin: 5px;
    padding: 5px;
}
nav > ul >li{
    display: inline;
}
nav > ul >li > a{
    text-decoration: none;
}

nav > ul{
    background-color: rgb(216, 215, 226);
}