*{
    margin: ;
    padding: ;
}
nav > ul >li{
    display: inline;
}
nav > ul >li > a{
    text-decoration: none;
}
footer{
    text-align: center;
}
/* start css for paragraph . html */
/* end css for paragraph . html */













/* css for paragraph . html */
/* css for paragraph . html */
/* css for paragraph . html */
/* css for paragraph . html */
/* css for paragraph . html */
/* css for paragraph . html */
/* css for paragraph . html */